<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="estilo.css">
        <link rel="icon" type="image/x-icon" href="img/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
        <title>Baja de servicio </title>
    </head>
    <body>
        <h1>
            Seleccione el servicio a dar de baja:
        </h1>
        <form method="post" action="bajaServicio">
            <select name="servicioBaja" size="1" >
                <th:block th:each="servicio : ${servicios}">
                    <option th:value="${servicio.codigo}" th:text="'Codigo: ' + ${servicio.codigo} + '  Descripcion: ' + ${servicio.descripcion}"></option>
                </th:block>    
            </select>
            <br>
            <br>
            <input type="submit" style="width:60px; height:40px" value ="Enviar">
        </form>
        <p><a href="/menuPrincipal">Volver al menú principal</a></p>
    </body>
</html>