<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="estilo.css">
        <link rel="icon" type="image/x-icon" href="img/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
        <title>Desasignar servicio: </title>
    </head>
    <body>
        <h1>
            Seleccione el servicio a desasignar:
        </h1>

        <form method="post" action="desasignarServicio">
            <select name="servicioDesasignado" size="1" style="width:900px; height:40px" >


                <th:block th:each="servicioRealizado : ${serviciosRealizados}">
                    <option th:value="${servicioRealizado.codServicioRealizado}" align="center"> 
                        
                    <th:block th:each="servicio: ${servicios}">
                        <div th:if= "${servicio.codigo == servicioRealizado.codServicio}">

                            <p th:text="'Codigo de servicio: '+ ${servicio.codigo} + ' '"> </p>
                            <p th:text="'Descripcion: ' + ${servicio.descripcion} + ' '"> </p>

                        </div>

                    </th:block>

                    <th:block th:each="militar: ${militares}">
                        <div th:if= "${militar.codigo == servicioRealizado.codSoldado}">

                            <p th:text="'Codigo de soldado: ' + ${militar.codigo} + ' '"> </p>
                            <p th:text="'Nombre: ' + ${militar.nombre} + ' '"> </p>
                            <p th:text="'Apellido: ' + ${militar.apellido} + ' '"> </p>

                        </div>

                    </th:block>

                    <p th:text="'Fecha: ' + ${servicioRealizado.fecha}"> </p>

                    </option>
                </th:block>

            </select>
            <br>

            <input type="submit" style="width:60px; height:40px" value ="Enviar">
        </form>
        <p><a href="/menuPrincipal">Volver al menú principal</a></p>
    </body>
</html>